@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: StarTrekFont;
  src: url(fonts/StarTrek.ttf)

}

.App {
  background-color: rgba(0, 0, 0, 0.568);
  margin: auto;
  font-family: 'Exo', sans-serif;
}



