.profile_page_container {
  width: 100%;
  display: flex;
  background: rgb(49%, 43%, 89%);
  justify-content: space-between;
}

.header_container {
  background: rgb(49%, 43%, 89%);
  border: 0px;
}

.profile_container {
  background: rgb(49%, 43%, 89%);
}

.profile_img {
  float: left;
}

.header_name {
  text-align: left;
  margin-top: 20px;
  margin-left: 100px;
}

.edit_description_btn {
  float: right;
  margin-top: 134px;
  margin-right: 50px;
  bottom: 20px;
}

.edit_text {
  margin-top: 10px;
}

.save_changes {
  float: right;
  text-align: center;
  padding-left: 0px;
  padding-right: 15px;
}

.header_description {
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  width: 710px;
  height: 100px;
  flex-wrap: wrap;
  word-wrap: break-word;
  height: 100%;
}
