.messages_container {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.inbox_container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.submit_message {
  float: right;
}

.input_message {
  height: 34px;
}

.submit_message_btn {
  height: 32px;
}

.message {
  background-color: lightblue;
  border: 1px solid black;
  margin-top: 5px;
  width: 50%;
}
